/* https://css.gg/ */
.gg-home-alt {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -2px
   }
   
   .gg-home-alt::after,
   .gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
   }
   
   .gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
   }
   
   .gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
   } 


   .gg-user {
    display: block;
    transform: scale(var(--ggs,1));
    box-sizing: border-box;
    width: 12px;
    height: 18px
   }
   
   .gg-user::after,
   .gg-user::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
   }
   
   .gg-user::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
   }
   
   .gg-user::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
   } 


   .gg-inbox {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    box-shadow: inset 0 -2px 0 0;
    border-radius: 3px
   }
   
   .gg-inbox::after,
   .gg-inbox::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor;
    height: 7px;
    width: 7px;
    border-radius: 2px;
    bottom: -2px
   }
   
   .gg-inbox::before {
    left: -2px
   }
   
   .gg-inbox::after {
    right: -2px
   } 

   .gg-dollar {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 2px;
    height: 20px;
    background: currentColor
   }
   
   .gg-dollar::after,
   .gg-dollar::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 8px;
    border: 2px solid
   }
   
   .gg-dollar::before {
    border-right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    top: 3px;
    left: -6px;
    box-shadow: 4px -2px 0 -2px
   }
   
   .gg-dollar::after {
    border-left: 0;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    bottom: 3px;
    right: -6px;
    box-shadow: -4px 2px 0 -2px
   } 

   .gg-scan {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs,1));
    background:
    linear-gradient(
    to left,currentColor 22px,
    transparent 0)
    no-repeat center/2px 22px
   }
   
   .gg-scan::after,
   .gg-scan::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 14px;
    border: 2px solid;
    top: 2px
   }
   
   .gg-scan::before {
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
   }
   
   .gg-scan::after {
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    right: 0
   } 

   .gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
   }
   
   .gg-close::after,
   .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
   }
   
   .gg-close::after {
    transform: rotate(-45deg)
   } 